.trvia-header {
  background: map-get($colors, 'primary');
  width: 100vw;
  height: calc(50px + 10vh);
  border-radius: 100%;
  margin: 0 -16px;
  color: #FFF;
  transform: scale(3);
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  margin-bottom: 20vh;

  & > .text {
    font-size: 7px;
    font-weight: 300;
    width: 30vw;
  }

  & > .subText {
    font-size: 6px;
    font-weight: 700;
    width: 30vw;
    margin-top: 1.2em;
  }

  & > .waiting {
    font-size: 6px;
    font-weight: 300;
    width: 30vw;
    margin-top: 1.2em;
  }
}
