$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary: #EF2D56,
  secondary: #FFF
);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

$toolbar-background: transparent;

$tabs-background: transparent;
$text-input-ios-background-color: green;

$alert-md-title-font-size: 16px;