.list-ios > .item-block:first-child {
  border-top: none!important;
}

.scroll-content {
  padding-bottom: 140px!important;
}

.tabbar {
  border-top: none!important;

  &:before {
    content: '';
    height: 0!important;
  }
}

[trvia-button] {
  border-radius: 50px;
  border: none;
  font-size: 16px;
  background: map-get($colors, 'primary');
  text-transform: capitalize;
  padding: 1em 2em;
  margin-top: 2em;
  width: 270px;
  height: 60px;

  &.small {
    height: 40px;
    width: 100px;
  }
}