.list-ios > .item-block:first-child {
  border-top: none!important;
}

.scroll-content {
  padding-bottom: 140px!important;
}

.tabbar {
  border-top: none!important;

  &:before {
    content: '';
    height: 0!important;
  }
}

[trvia-button] {
  background: linear-gradient(120deg, map-get($colors, 'primary'), map-get($colors, 'gradient'));
  padding: 1em;
  color: #FFF;
  font-size: 20px;
  margin-top: 2em;
  border-radius: 90px;
  width: 100%;
  text-align: center;
}